# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual Environment
venv/
env/
myenv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db